{% extends template_path %}

{% block id %}{{ id }}_toggle{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olh-field-content toggle">
        {{ disable|raw }}

        <fieldset class="{{ val ? 'is-on' : 'is-off' }}">
            <label for="{{ id }}-on" class="on">
                <input type="radio" name="{{ name }}" id="{{ id }}-on" value="1"{{ val ? ' checked="checked"' : '' }} />
            </label>

            <label for="{{ id }}-off" class="off">
                <input type="radio" name="{{ name }}" id="{{ id }}-off" value="0"{{ val ? '' : ' checked="checked"' }} />
            </label>
        </fieldset>

        {{ enable|raw }}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
