{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olz-field toggle">
        <input type="hidden" name="{{ name }}" value="" />

        <input type="checkbox" name="{{ name }}" id="{{ identifier }}" value="1"{{ value ? ' checked="checked"' : '' }} />
        <label for="{{ identifier }}"></label>
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
